/* index.html */
body {
  margin: 0;
}

input[type=checkbox] {
  transform: scale(1.5);
}

#PDFandGIFconfig {
  /* margin: 0; */
}

label,
input[type='checkbox'] {
  cursor: pointer;
}

body#JPG {

  /* background-color: rgb(2, 0, 150); */
  background-color: rgb(23 22 91);
  padding: 20px;
  padding-top: calc(20px + 40px);

}

body#GIF {

  background-color: brown;

}

body#cmd_mv {
  background-color: #121212;
  color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cmd_mv form {
  width: 100%;
}

#cmd_mv form>div {
  width: 90%;
  margin: 40px 100px;
  font-family: monospace;
  font-size: xx-large;
}

#cmd_mv form>div>div {
  text-align: center;
  margin: 20px 0;
}

.command_line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.command_line>div {
  margin: 24px;
}

#cmd_mv div>span,
#cmd_mv div>span select {
  /* padding: 0 10px; */
  font-weight: 700;
}

#cmd_mv .cmd,
#cmd_mkdir .cmd {
  color: darkturquoise
}

#cmd_mv .dirname {
  color: chartreuse
}

#cmd_mv .bookname {
  color: gold
}

#cmd_mv .to,
#cmd_mv .to select,
#library select {
  color: deeppink;
  font-weight: 700;

}

#gif_s {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
}

#gif_t1 {
  flex-basis: 200px;
}

/* #gif_s0, */
#gif_s1,
#gif_s2 {
  flex-basis: 100px;
}

#gif_w1 {
  flex-basis: 160px;
}

#main_pdf .myButton {
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  background-color: #fc8d83;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}

#main_pdf .myButton:hover {
  background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
  background-color: #e4685d;
}

#main_pdf .myButton:active {
  position: relative;
  top: 1px;
}

#main_menu {
  flex-basis: 100%;
  padding: 24px 32px 0px 32px;
}

#list_menu {
  display: flex;
  flex-wrap: wrap;
}

#list_menu>div {
  /* flex: auto; */
  margin: 0 12px;
}

#command_archive_store .myButton {
  box-shadow: inset 0px 1px 0px 0px #e184f3;
  background: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
  background-color: #c123de;
  border-radius: 6px;
  border: 1px solid #a511c0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9b14b3;
}

#command_archive_store .myButton:hover {
  background: linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
  background-color: #a20dbd;
}

#command_archive_store .myButton:active {
  position: relative;
  top: 1px;
}

[name="t_all"] {
  background-color: blue;
  color: white;
}

[name="tr_all"] {
  background-color: rgb(0, 112, 2);
  color: white;
}

[name="r_all"] {
  background-color: rgb(255, 0, 30);
  color: white;
}

#cmd_mv .myButton,
#cmd_mkdir .myButton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

#cmd_mv .myButton:hover,
#cmd_mkdir .myButton:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}

#cmd_mv .myButton:active,
#cmd_mkdir .myButton:active {
  position: relative;
  top: 1px;
}

.nodata {
  filter: grayscale(100%);
  opacity: 0.6;
}

#cmd_mv select,
#library select {
  background-color: #121212;
  /* color: azure; */
  font-family: monospace;
  font-size: xx-large;
  border-color: #222222;
  /* text-align: right; */
}

#cmd_mkdir [name="new_dir"] {
  background-color: midnightblue;
  color: cornflowerblue;
}

body#idx {
  background: #fff4f4;
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
  padding: 10px 60px;
  font-family: monospace;
  font-size: x-large;
}

body#idx span.cmd img {
  width: 24px;
}

#main_grid,
#main_pdf,
#main_catalog_page,
#main_PDFAndGIF,
#main_completion,
#main_library,
#main_archive {
  flex-basis: 100%;
  width: 1200px;
  width: auto;
}

body#idx #main div {
  margin: 10px 0;
}

#list_grid,
#list_pdf,
#list_catalog_page,
#list_PDFAndGIF,
#list_completion,
#list_library,
#list_archive {
  padding: 20px 48px;
  font-size: 20px;
  border-radius: 10px;
}

#status_grid,
#status_pdf,
#status_catalog_page,
#status_PDFAndGIF,
#status_completion,
#status_library,
#status_archive {
  padding: 10px;
  font-family: cursive;
}

#list_grid {
  background: yellow;
}

#list_pdf {
  background: rgb(255, 204, 193);
}

#list_catalog_page {
  background: rgb(193, 255, 206);
}

#list_PDFAndGIF {
  background: rgb(193, 233, 255);
}

#list_completion {
  background: rgb(216, 193, 255);
}

#list_library {
  background: rgb(205, 177, 136);
}

#list_archive {
  background: rgb(167, 167, 167);
}

#list_completion a {
  text-decoration: none;
}

#jpg_catalog {
  display: flex;
  flex-wrap: wrap;
}

#jpg_catalog div {
  flex-basis: 50%;
  flex-basis: calc(50% - 2 * 20px);
  padding: 20px;
}

#jpg_catalog img {
  width: 100%;
}

#command_pdf,
#command_archive_store {
  padding: 10px;
  text-align: center;
  font-family: cursive;
}

[name*="f_upload"] {
  text-align: center;
  margin: 20px;
}

/* pdfs */

#main_grid {}

#main_pdf {}

/* grid images */

body#grid {
  background-color: burlywood;
  /* margin: 0; */
}

select {
  font-size: larger;
  padding: 0 10px;
}

#fix {
  background-color: purple;
  width: 100%;
  height: 256px;
  background: orange;
  position: fixed;
  top: 0;
  left: 0;
}

#fix_2 {
  background-color: purple;
  width: 100%;
  height: 40px;
  background: rgb(175, 219, 255);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;

}

#fix_2>div {
  display: flex;
  width: 400px;
  margin: auto;
  font-family: sans-serif;
  font-size: xx-large;
  color: darkblue;
}

#fix_2>div>div {
  flex-basis: 100px;
}

#choice,
.caption {
  font-size: x-large;
  font-family: monospace;
  text-align: center;
}

.caption {
  color: firebrick;
}

body#grid #main,
body#rot #main {
  margin-top: 256px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body#grid #main div {
  width: 24%;
  margin: 10px 32px;
  text-align: center;
}

body#grid #main div img {
  max-height: 720px;
  max-height: 560px;
  max-width: 100%;
}

body#rot #main {
  display: flex;
  flex-wrap: wrap;
}

body#rot #main>div {
  flex-basis: 50%;
}

/* body#rot #main_090, body#rot #main_270 { */
body#rot #main_090,
body#rot>div #main_270 {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

body#rot #main_090 div,
body#rot #main_270 div {
  margin: 20px;
}

body#rot #main_090 {
  background-color: #fbe8ff;
}

body#rot #main_270 {
  background-color: #c5ffa9;
}

body#rot #main_090 img,
body#rot #main_270 img {
  max-height: 400px;
}

#both {
  display: flex;
  flex-wrap: wrap;
}

#left,
#right {
  flex-basis: 45%;
  padding: 32px;
}

#main .caption {
  text-align: center;
  padding: 20px 0;
}

#fix>form>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: anchor-center;
}

#trim,
#trim_repad,
#repad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 24%;
}

#trim>div,
#trim_repad>div,
#repad>div {
  flex-basis: 30%;
}

#fm {
  flex-basis: 100%;
  padding: 20px;
}

#f_pdf_gif {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

#f_pdf_gif>div {
  flex-basis: 100%;
}

.fmb {
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  text-decoration: none;
}

.fmb:hover {
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color: #68a54b;
}

.fmb:active {
  position: relative;
  top: 1px;
}

.q_hw {
  font-size: x-large;
  font-family: monospace;

}

.q_hw>div {
  margin: 0 4px;
}

/* catalog_page ---------------------------------------------------------------------------------*/

body#catalog_page {
  background-color: burlywood;
}

#all_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#all_img>div {

  border: chocolate;

  border-style: double;

}

#all_img div.pages:nth-child(2n+1) {

  width: 20%;

}

#all_img div.pages:nth-child(4n+1) p:nth-child(1) {

  text-align: right;

}

#all_img div.pages:nth-child(4n+1) p:nth-child(2) {

  text-align: center;

}

#all_img div.pages:nth-child(4n+3) p:nth-child(1) {

  text-align: left;

}

#all_img div.pages:nth-child(4n+3) p:nth-child(2) {

  text-align: center;

}

#all_img div.between {

  width: 4%;

  text-align: center;

  display: flex;

  flex-wrap: wrap;

  align-content: end;

}

#all_img div.between>p {

  width: 100%;

  text-align: center;

}

img.page {

  max-height: 600px;

  margin: 0 40px;

  opacity: .6;
  width: calc(100% - 80px);
}

a img {

  transition: 0.3s;

}

a img:hover {

  opacity: 0.5;

}

.img_preview_pdf_gif {
  margin-top: 256px;
  display: flex;
  flex-wrap: wrap;
  background-color: gold;
  justify-content: center;
}

.img_preview_pdf_gif div {
  flex-basis: auto;
  padding: 20px;
  /* border: #ff8c8c;
  border-style: inset;
  border-width: thick; */
  background-color: gold;
}

.img_preview_pdf_gif div img {
  /* max-width: 400px; */
  max-height: 500px;

}

/* --------------------------------------------------------------------------- */

.gif p {
  text-align: center;
  /* padding: 20px; */
  color: white;
  opacity: 80%;
  font-family: monospace;
  font-size: xx-large;
  margin: 4px 20px;

}

.gif {
  padding: 300px;
  text-align: center;

}

.bookname p span {
  color: peachpuff;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 30%;
}

.details p {
  font-size: 18px;
}

.details p span {
  color: chartreuse;
}